.vscode/
.git/
node_modules/
.vscodeignore
*.vsix
*.log
.env
.DS_Store
.github/
.gitignore
README.md
CHANGELOG.md
CONTRIBUTING.md
test/
tests/
screenshots/
docs/
**/*.map
**/*.ts
**/*.src
**/tsconfig.json
**/tslint.json